---
import Layout from '../layouts/Layout.astro';
import ListOfBooks from '../components/ListOfBooks.astro';
import Title from '../components/Title.astro';
---

<Layout title="Libros de programación más recomendados">
	<main class="m-auto max-w-4xl text-center">
		<Title />
		<ListOfBooks />
	</main>
</Layout>
